* {
  margin: 0;
  padding: 0;
}

h1 {
  color: brown;
  text-transform: uppercase;
  margin: 5px 5px 5px 5px;
}

.messageForm {
  margin: 5px 0px 5px 0px;
  border: 1px solid red;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: baseline;
}

.messageFormHeader {
  text-align: center;
}

