.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  /* width: 100%; */
  border: 5px solid #282c34;
  /* display: flex;
  justify-content: center; */

  width: 1400px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.messages {
  margin: 5px 0px 5px 0px;
  min-height: 100px;
  border: 1px solid blue;
  display: flex;
  flex-flow: row wrap;
}

.messageList {
  text-align: center;
}

.message {
  margin: 2px 0px 2px 0px;
  padding: 0px 5px 0px 5px;
  border: 1px solid black;
  list-style-type: none;
}

.messageFormHeader {
  text-align: center;
}

.messageForm {
  margin: 5px 0px 5px 0px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}