* {
    margin: 0;
    padding: 0;
}

h1 {
    color: brown;
    text-transform: uppercase;
    margin: 5px 5px 5px 5px;
}

.chats {
    margin: 5px 0px 5px 0px;
    min-height: 100px;
    border: 1px solid green;
    display: flex;
    flex-flow: column nowrap;
}

.chatList {
    text-align: center;
}

.chat {
    margin: 2px 0px 2px 0px;
    padding: 0px 5px 0px 5px;
    border: 1px solid black;
}