* {
    margin: 0;
    padding: 0;
}

.homeNavBar {
    width: 100%;
    border: 1px solid #282c34;
    margin: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: baseline;
}